<%- include("../partials/header.ejs"); %>
<%- include("../partials/main-nav.ejs"); %>

<div class="case-study__header--2 grid">
    <div class="case-study__header-content grid--centered" data-aos="fade-up">
      <h2 class="case-study__company">Styleguide</h2>
      <h1 class="case-study__title">Developing a living styleguide for a consistent UI</h1>
      <div class="case-study__role">Lead Designer</div>
      <img src="../images/home/case-study_styleguide.jpg" class="case-study-preview__img case-study-preview__img--no-shadow" alt="Engagement Design Case Study">
    </div>
</div>


<div class="case-study__body">
  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3 class="section-title">Background</h3>
      <p class="p--large">Bright Funds was several years old when the team found itself running up against the same problem. While working through new projects, we would end up re-designing or re-engineering components that were similar to components on other views. This was because we didn't have a central source for component styles. As a result, inconsistencies in the UI began popping up.  As a side effect, design and engineering would spend unnecessary time re-building elements from scratch.</p>
      <p class="p--large">To fix this problem, I created a styleguide and components library that could be accessed across the team.</p>
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3 class="section-title">Icons</h3>
      <p>I designed an icon library for Bright Funds UI. This library grew as icons were needed on a per-project basis. Icons were based on a 20px x 20px grid and could scale up or down depending on the context. Icons are designed to be simple and bold. They were designed primarily for single-color usage.</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/icons.png" class="image-full__img image-full--no-shadow" alt="Styleguide icons">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3 class="section-title">Elements</h3>
      <p>I designed the UI language for Bright Funds. This included buttons, form elements, navigation, cards, and other key UI components. This library expanded and changed over time as the UI language progressed.</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/elements.jpg" class="image-full__img" alt="Styleguide elements">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3 class="section-title">Layouts</h3>
      <p>All layouts are responsive and work across screen sizes. Layouts are based on a 12 column grid that adapts to screen sizes to ensure consistency.</p>
    </div>

    <div class="image-full__wrapper image-full--engagement grid--max" data-aos="fade-up">
      <img src="../images/cs-styleguide/layout.jpg" class="image-full__img" alt="Styleguide layouts">
    </div>
  </section>

  <section class="grid">
    <div class="case-study__content-wrapper--md grid--centered-sm" data-aos="fade-up">
      <h3 class="section-title">Living styleguide</h3>
      <p>I partnered with an engineer to create a living styleguide to house the various components. This styleguide could be accessed across the team and expanded upon as new components were added or existing components updated.</p>
    </div>
  </section>

</div>

<div class="case-study__footer" data-aos="fade-up">
  <h2 class="case-study__footer-title">Thank you for reading!</h2>
  <a href="/" class="btn btn--black">Take me back home</a>
</div>

<section class="case-study__read-more">
  <%- include("../partials/cs-preview-foundation-funds.ejs"); %>
  <%- include("../partials/cs-preview-engagement.ejs"); %>
</section>

<%- include("../partials/footer.ejs"); %>
